Việc hợp nhất các cột có thể được thực hiện bằng phương thức concat, merge của pandas.

In [5]:
# Đọc file dữ liệu 'FoodPrice_in_Turkey.csv'
import pandas as pd
df=pd.read_csv('FoodPrice_in_Turkey.csv')
df.head(10)
# Xóa các dòng có thuộc tính ProductID trùng nhau, 
# giữ lại bản ghi cuối cùng, giữ chỉ số ban đầu của các dòng
df=df.drop_duplicates(['ProductId'], keep='last')
# Xóa các dòng có thuộc tính ProductID trùng nhau, 
# giữ lại bản ghi cuối cùng, thiết lập lại chỉ số
df=df.drop_duplicates(['ProductId'],keep='last').reset_index(drop=True)
# Tách file chứa thông tin sản phẩm
df_pro = df.loc[:,['ProductId','ProductName','UmId','UmName']]
df_pro
# Tách file chứa thông tin giá
df_pri = df.loc[:,['ProductId','Place','Month','Year','Price']]
df_pri
# Tách file chứa thông tin giá với số dòng từ bản ghi 10 đến 20
df_pri10 = df.loc[10:20,['ProductId','Place','Month','Year','Price']]
df_pri10

    ProductId  Place  Month  Year    Price
10         92  Izmir     12  2019   0.6301
11         94  Izmir     12  2019  11.7723
12         97  Izmir     12  2019   5.5038
13        105  Izmir     12  2019  38.4497
14        108  Izmir     12  2019   7.5267
15        112  Izmir     12  2019   4.9827
16        114  Izmir     12  2019   4.7359
17        119  Izmir     12  2019  33.0362
18        124  Izmir     12  2019   5.9795
19        151  Izmir     12  2019  51.5925
20        173  Izmir     12  2019   2.2126

2. Ghép các cột từ các file
Cách 1: Dùng phương thức merge ghép 2 dataFrame có cùng chung một cột thuộc tính:pd.merge(dataFram1,dataFram2,on=’Tên thuộc tính chung’).
Cách 2: Dùng phương thức concat cho phép ghép từ hai dataFrame trở lên lại với nhau:pd.concat([dataFram1,dataFram2,…], axis=1).

In [8]:
df1=pd.merge(df_pro,df_pri, on='ProductId')
df1
df2=pd.concat([df_pro,df_pri], axis=1)
df2
df2=pd.concat([df_pro,df_pri,df_pri10], axis=1)
df2

,ProductId,ProductName,UmId,UmName,ProductId,Place,Month,Year,Price,ProductId,Place,Month,Year,Price
0,176,Tea (green) - Retail,33,Unit,176,National Average,3,2017,4.6500,NaN,NaN,NaN,NaN,NaN
1,212,"Peas (green, dry) - Retail",5,KG,212,National Average,6,2015,3.2900,NaN,NaN,NaN,NaN,NaN
2,229,Apples (red) - Retail,5,KG,229,National Average,3,2017,2.8300,NaN,NaN,NaN,NaN,NaN
3,233,Cucumbers (greenhouse) - Retail,5,KG,233,National Average,3,2017,4.2400,NaN,NaN,NaN,NaN,NaN
4,384,Bread (pita) - Retail,5,KG,384,National Average,3,2017,2.4800,NaN,NaN,NaN,NaN,NaN
5,465,"Wage (non-qualified labour, non-agricultural) ...",51,Day,465,National Average,3,2017,46.8000,NaN,NaN,NaN,NaN,NaN
6,52,Rice - Retail,5,KG,52,Izmir,12,2019,10.2803,NaN,NaN,NaN,NaN,NaN
7,58,Wheat flour - Retail,5,KG,58,Izmir,12,2019,4.2703,NaN,NaN,NaN,NaN,NaN
8,66,Beans (white) - Retail,5,KG,66,Izmir,12,2019,13.0975,NaN,NaN,NaN,NaN,NaN
9,83,Potatoes - Retail,5,KG,83,Izmir,12,2019,2.0924,NaN,NaN,NaN,NaN,NaN
10,92,Eggs - Retail,33,Unit,92,Izmir,12,2019,0.6301,92.0,Izmir,12.0,2019.0,0.6301
11,94,Meat (chicken) - Retail,5,KG,94,Izmir,12,2019,11.7723,94.0,Izmir,12.0,2019.0,11.7723
12,97,Sugar - Retail,5,KG,97,Izmir,12,2019,5.5038,97.0,Izmir,12.0,2019.0,5.5038
13,105,Garlic - Retail,5,KG,105,Izmir,12,2019,38.4497,105.0,Izmir,12.0,2019.0,38.4497
14,108,Lentils - Retail,5,KG,108,Izmir,12,2019,7.5267,108.0,Izmir,12.0,2019.0,7.5267
15,112,Pasta - Retail,5,KG,112,Izmir,12,2019,4.9827,112.0,Izmir,12.0,2019.0,4.9827
16,114,Tomatoes - Retail,5,KG,114,Izmir,12,2019,4.7359,114.0,Izmir,12.0,2019.0,4.7359
17,119,Groundnuts (shelled) - Retail,5,KG,119,Izmir,12,2019,33.0362,119.0,Izmir,12.0,2019.0,33.0362
18,124,Bread (common) - Retail,5,KG,124,Izmir,12,2019,5.9795,124.0,Izmir,12.0,2019.0,5.9795
19,151,Coffee - Retail,5,KG,151,Izmir,12,2019,51.5925,151.0,Izmir,12.0,2019.0,51.5925
20,173,Onions - Retail,5,KG,173,Izmir,12,2019,2.2126,173.0,Izmir,12.0,2019.0,2.2126
21,181,Cabbage - Retail,5,KG,181,Izmir,12,2019,1.4376,NaN,NaN,NaN,NaN,NaN
22,183,Meat (mutton) - Retail,5,KG,183,Izmir,12,2019,59.2274,NaN,NaN,NaN,NaN,NaN
23,184,Oil (sunflower) - Retail,15,L,184,Izmir,12,2019,10.8694,NaN,NaN,NaN,NaN,NaN
24,185,Salt - Retail,5,KG,185,Izmir,12,2019,2.7772,NaN,NaN,NaN,NaN,NaN
25,209,Coffee (instant) - Retail,33,Unit,209,Izmir,12,2019,51.1247,NaN,NaN,NaN,NaN,NaN
26,231,Cauliflower - Retail,5,KG,231,Izmir,12,2019,2.7437,NaN,NaN,NaN,NaN,NaN
27,239,Oil (olive) - Retail,15,L,239,Izmir,12,2019,30.1293,NaN,NaN,NaN,NaN,NaN
28,244,Chickpeas - Retail,5,KG,244,Izmir,12,2019,9.2749,NaN,NaN,NaN,NaN,NaN
29,254,Bananas - Retail,5,KG,254,Izmir,12,2019,9.8327,NaN,NaN,NaN,NaN,NaN
30,258,Bulgur - Retail,5,KG,258,Izmir,12,2019,5.0640,NaN,NaN,NaN,NaN,NaN
31,281,Tea - Retail,5,KG,281,Izmir,12,2019,35.1895,NaN,NaN,NaN,NaN,NaN
32,285,Fuel (petrol-gasoline) - Retail,15,L,285,Izmir,12,2019,6.9867,NaN,NaN,NaN,NaN,NaN
33,304,Transport (public) - Retail,55,Course,304,Izmir,12,2019,3.6964,NaN,NaN,NaN,NaN,NaN
34,317,Tomatoes (paste) - Retail,5,KG,317,Izmir,12,2019,10.8901,NaN,NaN,NaN,NaN,NaN
35,341,Fuel (gas) - Retail,90,12 KG,341,Izmir,12,2019,109.1172,NaN,NaN,NaN,NaN,NaN
36,345,Apples - Retail,5,KG,345,Izmir,12,2019,4.2447,NaN,NaN,NaN,NaN,NaN
37,360,Oranges - Retail,5,KG,360,Izmir,12,2019,3.9023,NaN,NaN,NaN,NaN,NaN
38,364,Yogurt - Retail,5,KG,364,Izmir,12,2019,7.4009,NaN,NaN,NaN,NaN,NaN
39,388,Cucumbers - Retail,5,KG,388,Izmir,12,2019,5.0299,NaN,NaN,NaN,NaN,NaN
40,401,Fish (fresh) - Retail,5,KG,401,Izmir,12,2019,27.8747,NaN,NaN,NaN,NaN,NaN
41,404,Spinach - Retail,5,KG,404,Izmir,12,2019,2.5628,NaN,NaN,NaN,NaN,NaN
42,414,Cheese - Retail,5,KG,414,Izmir,12,2019,35.5297,NaN,NaN,NaN,NaN,NaN
43,433,Meat (veal) - Retail,5,KG,433,Izmir,12,2019,48.0534,NaN,NaN,NaN,NaN,NaN
44,434,Eggplants - Retail,5,KG,434,Izmir,12,2019,3.9435,NaN,NaN,NaN,NaN,NaN
45,442,"Milk (powder, infant formula) - Retail",5,KG,442,Izmir,12,2019,147.1558,NaN,NaN,NaN,NaN,NaN
46,450,Zucchini - Retail,5,KG,450,Izmir,12,2019,4.3735,NaN,NaN,NaN,NaN,NaN
47,463,Milk (pasteurized) - Retail,15,L,463,Izmir,12,2019,5.1285,NaN,NaN,NaN,NaN,NaN
48,491,Electricity - Retail,101,kWh,491,Izmir,12,2019,0.7102,NaN,NaN,NaN,NaN,NaN
49,492,Tea (herbal) - Retail,102,Package,492,Izmir,12,2019,5.8147,NaN,NaN,NaN,NaN,NaN
50,493,Water - Retail,100,Cubic meter,493,Izmir,12,2019,5.0664,NaN,NaN,NaN,NaN,NaN
51,502,Cocoa (powder) - Retail,5,KG,502,Izmir,12,2019,51.6071,NaN,NaN,NaN,NaN,NaN

Việc hợp nhất các dòng có thể được thực hiện bằng phương thức concat, append của pandas.
Cách 1: Dùng phương thức concat cho phép ghép từ hai dataFrame trở lên lại với nhau:
pd.concat([dataFram1,dataFram2,…], axis=0)
Cách 2: Dùng phương thức append cho phép ghép hai dataFrame:
DataFrame.append(other, ignore_index=False, verify_integrity=False, sort=None)

In [17]:
import pandas as pd
df=pd.read_csv('FoodPrice_in_Turkey.csv')
print(df.head())
# Tách file 1 chứa 5000 bản ghi đầu tiên
df1 = df.loc[0:4999,:]
df1
# Tách file 2 chứa các bản ghi còn lại
df2 = df.loc[5000:7380,:]
df2
# Tách file 3 chứa thông tin giá với số dòng từ bản ghi 1000 đến 2000
df3 = df.loc[1000:2000,['ProductId','Place','Month','Year','Price']]
df3
df4=pd.concat([df1,df2], axis=0)
df4
df5=pd.concat([df1,df2,df3], axis=0)
df5
df6=df1.append(df2)
df6
df7=df1.append(df3)
df7

              Place  ProductId    ProductName  UmId UmName  Month  Year  \
0  National Average         52  Rice - Retail     5     KG      5  2013
1  National Average         52  Rice - Retail     5     KG      6  2013
2  National Average         52  Rice - Retail     5     KG     11  2013
3  National Average         52  Rice - Retail     5     KG     12  2013
4  National Average         52  Rice - Retail     5     KG      1  2014

    Price
0  4.4920
1  4.5786
2  4.7865
3  5.1337
4  5.5099

,Place,ProductId,ProductName,UmId,UmName,Month,Year,Price
0,National Average,52,Rice - Retail,5.0,KG,5,2013,4.4920
1,National Average,52,Rice - Retail,5.0,KG,6,2013,4.5786
2,National Average,52,Rice - Retail,5.0,KG,11,2013,4.7865
3,National Average,52,Rice - Retail,5.0,KG,12,2013,5.1337
4,National Average,52,Rice - Retail,5.0,KG,1,2014,5.5099
...,...,...,...,...,...,...,...,...
1996,National Average,360,NaN,NaN,NaN,12,2019,3.5717
1997,National Average,364,NaN,NaN,NaN,6,2015,4.0000
1998,National Average,364,NaN,NaN,NaN,7,2015,3.9700
1999,National Average,364,NaN,NaN,NaN,8,2015,4.0100
2000,National Average,364,NaN,NaN,NaN,9,2015,3.9800

Đọc bộ dữ liệu, cho biết số dòng, số cột và kiểu dữ liệu của các thuộc tính.
Tính giá trị lớn nhất và nhỏ nhất của GDP.
Với mỗi châu lục hãy tính tổng GDP; trung bình cộng GDP. Hợp nhất 2 bảng này thành một bảng duy nhất gồm 3 thông tin: Tên châu lục; Tổng GDP; TBC GDP.

In [44]:
import pandas as pd
df=pd.read_csv('GDPlist.csv')
print(df.info())
print(df.head(10))
# Truy cập các dòng trong cột "GDP"
df_GDP = df.loc[:,'GDP (millions of US$)']
print(df_GDP.count())   # đếm số biến GDP
print(df_GDP.min())     # tính giá trị nhỏ nhất
print(df_GDP.max())     # tính giá trị lớn nhất 
df_total=df.groupby('Continent')['GDP (millions of US$)'].sum()
df_total.head(10)
df_DCA=df.groupby('Continent')['GDP (millions of US$)'].mean()
df_DCA.head(10)
df_new=pd.merge(df_total,df_DCA,on='Continent')
df_new.head(10)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 125 entries, 0 to 124
Data columns (total 3 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Country                125 non-null    object
 1   Continent              125 non-null    object
 2   GDP (millions of US$)  125 non-null    int64
dtypes: int64(1), object(2)
memory usage: 3.1+ KB
None
       Country      Continent  GDP (millions of US$)
0  Afghanistan           Asia                  18181
1      Albania         Europe                  12847
2      Algeria         Africa                 190709
3       Angola         Africa                 100948
4    Argentina  South America                 447644
5    Australia        Oceania                1488221
6      Austria         Europe                 419243
7   Azerbaijan         Europe                  62321
8      Bahrain           Asia                  26108
9   Bangladesh           Asia                 113032
125
10600
15094025

               GDP (millions of US$)_x  GDP (millions of US$)_y
Continent
Africa                         1820811             6.278659e+04
Asia                          24425891             6.784970e+05
Europe                        19139380             5.172805e+05
North America                 18238447             1.658041e+06
Oceania                        1662727             5.542423e+05
South America                  4141217             4.601352e+05

Luyện tập xây dựng bảng Pivot table.
Đọc bộ dữ liệu, cho biết số dòng, số cột và kiểu dữ liệu của các thuộc tính.
Xây dựng bảng Pivot table, với mỗi Số hóa đơn tính trung bình cộng số lượng các mặt hàng theo từng Quốc gia. 
Xây dựng bảng Pivot table, với mỗi Khách hàng cho biết số lượng mua hàng lớn nhất và nhỏ nhất theo Kho.
Xây dựng bảng Pivot table, với mỗi Mã kho tính tổng số lượng các mặt hàng và trung bình cộng giá.
Xây dựng bảng Pivot table cho biết tổng số lượng hàng bán được của mỗi ngày.

In [60]:
import pandas as pd
df=pd.read_csv('OnlineRetail.csv')
print(df.info())
print(df.head(10))
pivot1=df.pivot_table(values='Quantity',index='InvoiceNo',columns='Country',aggfunc ='sum')
pivot1.head()
pivot2=df.pivot_table(values='Quantity', index='StockCode',aggfunc = {min, max})
pivot2.head()
import numpy as np
pivot3=df.pivot_table(values=['Quantity','UnitPrice'], index='StockCode',aggfunc ={'Quantity': np.sum,'UnitPrice': np.mean})
pivot3.head()
#pivot4=df.pivot_table(values='Quantity', index='InvoiceDate',aggfunc ='sum')
pivot4=df.pivot_table(values='Quantity', columns='InvoiceDate',aggfunc ='sum')
pivot4.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  object
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 33.1+ MB
None
  InvoiceNo StockCode                          Description  Quantity  \
0    536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6
1    536365     71053                  WHITE METAL LANTERN         6
2    536365    84406B       CREAM CUPID HEARTS COAT HANGER         8
3    536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6
4    536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6
5    536365     22752         SET 7 BABUSHKA NESTING BOXES         2
6    536365     21730    GLASS STAR FROSTED T-LIGHT HOLDER         6
7    536366     22633               HAND WARMER UNION JACK         6
8    536366     22632            HAND WARMER RED POLKA DOT         6
9    536367     84879        ASSORTED COLOUR BIRD ORNAMENT        32

      InvoiceDate  UnitPrice  CustomerID         Country
0  12/1/2010 8:26       2.55     17850.0  United Kingdom
1  12/1/2010 8:26       3.39     17850.0  United Kingdom
2  12/1/2010 8:26       2.75     17850.0  United Kingdom
3  12/1/2010 8:26       3.39     17850.0  United Kingdom
4  12/1/2010 8:26       3.39     17850.0  United Kingdom
5  12/1/2010 8:26       7.65     17850.0  United Kingdom
6  12/1/2010 8:26       4.25     17850.0  United Kingdom
7  12/1/2010 8:28       1.85     17850.0  United Kingdom
8  12/1/2010 8:28       1.85     17850.0  United Kingdom
9  12/1/2010 8:34       1.69     13047.0  United Kingdom

InvoiceDate,1/10/2011 10:04,1/10/2011 10:07,1/10/2011 10:08,1/10/2011 10:32,1/10/2011 10:35,1/10/2011 10:36,1/10/2011 10:44,1/10/2011 10:58,1/10/2011 11:09,1/10/2011 11:22,...,9/9/2011 15:53,9/9/2011 16:13,9/9/2011 16:34,9/9/2011 16:36,9/9/2011 17:52,9/9/2011 8:48,9/9/2011 9:03,9/9/2011 9:13,9/9/2011 9:38,9/9/2011 9:52
Quantity,-29,-4,-14,260,408,-2600,40,83,249,246,...,1128,492,-1,-13,4,104,105,372,203,782

In [72]:
import pandas as pd
df=pd.read_csv('OnlineRetail.csv')
#Xây dựng bảng Pivot table, với mỗi Số hóa đơn tính trung bình cộng số lượng các mặt hàng theo từng Quốc gia. 
pivot1a=df.pivot_table(values='Quantity',index='Country',columns='InvoiceNo',aggfunc ='mean')
print(pivot1a.head())

InvoiceNo  536365  536366  536367  536368  536369  536370  536371  536372  \
Country
Australia     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
Austria       NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
Bahrain       NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
Belgium       NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN
Brazil        NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN

InvoiceNo  536373  536374  ...  C581464  C581465  C581466  C581468  C581470  \
Country                    ...
Australia     NaN     NaN  ...      NaN      NaN      NaN      NaN      NaN
Austria       NaN     NaN  ...      NaN      NaN      NaN      NaN      NaN
Bahrain       NaN     NaN  ...      NaN      NaN      NaN      NaN      NaN
Belgium       NaN     NaN  ...      NaN      NaN      NaN      NaN      NaN
Brazil        NaN     NaN  ...      NaN      NaN      NaN      NaN      NaN

InvoiceNo  C581484  C581490  C581499  C581568  C581569
Country
Australia      NaN      NaN      NaN      NaN      NaN
Austria        NaN      NaN      NaN      NaN      NaN
Bahrain        NaN      NaN      NaN      NaN      NaN
Belgium        NaN      NaN      NaN      NaN      NaN
Brazil         NaN      NaN      NaN      NaN      NaN

[5 rows x 25900 columns]